<main>
  <section class="section favorite">
    <div class="container">
      <h2 class="favorite__title">Favorite ingredients</h2>

      <ul class="list cocktails__list">
        <!-- <li class="cocktails__item">
          <div class="favorite__box">
            <h3 class="cocktails__title--secondary favorite__title--secondary">
              Campari
            </h3>
            <p class="favorite__text">Liqueur</p>
            <div class="buttons">
              <button class="btn--orange cocktails__btn cocktails__btn--first">
                Learn more
              </button>
              <button class="btn--white cocktails__btn">
                Add to
                <svg class="cocktails__svg" width="22" height="19">
                  <use href="./image/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </section>
</main>
