<div class="container">
  <section class="section">
    <h2 class="cocktails__title">Cocktails</h2>
    <ul class="list cocktails__list">
      <!-- <li class="cocktails__item">
        <img class="cocktails__img" src="#" alt="Negroni" />
        <div class="cocktails__box">
          <h3 class="cocktails__title--secondary cocktails__title--center">Negroni</h3>
          <div class="buttons">
            <button class="btn--orange cocktails__btn cocktails__btn--first" type="button">
              Learn more
            </button>
            <button class="btn--white cocktails__btn" type="button">
              Add to
              <svg class="cocktails__svg" width="22" height="19">
                <use href="./image/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li> -->
    </ul>
  </section>
</div>
