<div class="container">
  <section class="section hero">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
  <!-- <img class="hero__img" src="" alt="" /> -->
  <p class="hero__text">Search your favorite cocktail by ABC</p>
  <ul class=" list hero__list">
    <li class="hero__item">
      <button class="hero__btn">a</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">b</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">c</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">d</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">e</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">f</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">g</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">h</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">i</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">j</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">k</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">l</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">m</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">n</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">o</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">p</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">q</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">r</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">s</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">t</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">u</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">v</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">w</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">x</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">y</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">z</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">1</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">2</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">3</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">4</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">5</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">6</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">7</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">8</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">9</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">0</button>
    </li>
  </ul>
  </section>
</div>
