<div class="container">
  <section class="section hero">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
  <img class="hero__img" src="#" alt="" />
  <p class="hero__text">Search your favorite cocktail by ABC</p>
  <ul class=" list hero__list">
    <li class="hero__item">
      <button class="hero__btn">A</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">B</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">C</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">D</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">E</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">F</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">G</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">H</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">I</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">J</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">K</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">L</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">M</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">N</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">O</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">P</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">Q</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">R</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">S</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">T</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">U</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">V</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">W</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">X</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">Y</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">Z</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">1</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">2</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">3</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">4</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">5</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">6</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">7</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">8</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">9</button>
    </li>
    <li class="hero__item">
      <button class="hero__btn">0</button>
    </li>
  </ul>
  </section>
</div>
