body {
  color: $main-color;
  background-color: $white-color;
}

.btn--orange {
  color: $white-color;

  &:hover {
    background-color: $white-color;
  }
}

.btn--white {
  background-color: $white-color;

  &:hover {
    background-color: $color-light-text;

    cursor: pointer;
  }

  &:active {
    background-color: $white-color;
  }
}

.header__link {
  color: $main-color;
}

.header__list {
  background-color: $white-color;
}

.header__favorite--link {
  color: $main-color;

  &:focus,
  &:hover {
    color: $white-color;
  }
}

.mobile-menu__container {
  &.is-open {
    @media screen and (max-width: $max1280) {
      background-color: $white-color;
    }
  }
}

.cocktails__svg {
  fill: $white-color;
}

.hero__text {
  color: #000000;
  opacity: 0.8;
}

.hero__btn {
  color: $secondary-color-text;
  background-color: $white-color;

  &:focus,
  &:hover {
    -webkit-text-stroke: 1px #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:checked {
    color: $main-color;
  }
}

.hero__input {
  &:focus,
  &:hover {
    color: $white-color;

    & ~ .datalist__icon {
      fill: $white-color;
    }
  }
}

.hero__datalist {
  background-color: $white-color;
}

.hero__option {
  color: $secondary-color-text;

  &:focus,
  &:hover,
  .active {
    color: $white-color;
  }
}

.modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: $white-color;
}

.modal__text {
  color: $secondary-color-text;

  &--bold {
    color: $main-color;
  }
}

.modal__item {
  color: $main-color;
}

.modal__link {
  color: $secondary-color-text;
}

.favorite__text {
  color: $secondary-color-text;
}
