<section class="section hero">
  <div class="container hero__container">
    <div class="hero__box">
      <h1 class="hero__title">A party without cocktails is not like a party</h1>
      <picture>
        <source
          srcset="
            ./image/hero-cocktail-mobile@1x.jpg 1x,
            ./image/hero-cocktail-mobile@2x.jpg 2x,
            ./image/hero-cocktail-mobile@3x.jpg 3x
          "
          media="(max-width:767px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./image/hero-cocktail-tablet@1x.jpg 1x,
            ./image/hero-cocktail-tablet@2x.jpg 2x,
            ./image/hero-cocktail-tablet@3x.jpg 3x
          "
          media="(min-width:768px) and (max-width:1199px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./image/hero-cocktail-desktop@1x.jpg 1x,
            ./image/hero-cocktail-desktop@2x.jpg 2x,
            ./image/hero-cocktail-desktop@3x.jpg 3x
          "
          media="(min-width:1280px)"
          type="image/jpg"
        />
        <img
          class="hero__image"
          src="./image/hero-cocktail-mobile@1x.jpg"
          alt="cocktail"
        />
      </picture>
    </div>

    <p class="hero__text">Search your favorite cocktail by ABC</p>
    <ul class="list hero__list"></ul>

    <div class="datalist__box">
      <input
      class="hero__input"
      list=""
      role="combobox"
      value="A"
      id="input"
      name="cocktails__abc"
    />
    <svg class="datalist__icon">
      <use href="./image/sprite.svg#icon-chevron-down"></use>
    </svg>
    <datalist class="hero__datalist" role="listbox" id="cocktails__abc">
      <option class="hero__option" value="A">A</option>
      <option class="hero__option" value="B">B</option>
      <option class="hero__option" value="C">C</option>
      <option class="hero__option" value="D">D</option>
      <option class="hero__option" value="E">E</option>
      <option class="hero__option" value="F">F</option>
      <option class="hero__option" value="G">G</option>
      <option class="hero__option" value="H">H</option>
      <option class="hero__option" value="I">I</option>
      <option class="hero__option" value="J">J</option>
      <option class="hero__option" value="K">K</option>
      <option class="hero__option" value="L">L</option>
      <option class="hero__option" value="M">M</option>
      <option class="hero__option" value="N">N</option>
      <option class="hero__option" value="O">O</option>
      <option class="hero__option" value="P">P</option>
      <option class="hero__option" value="Q">Q</option>
      <option class="hero__option" value="R">R</option>
      <option class="hero__option" value="S">S</option>
      <option class="hero__option" value="T">T</option>
      <option class="hero__option" value="U">U</option>
      <option class="hero__option" value="V">V</option>
      <option class="hero__option" value="W">W</option>
      <option class="hero__option" value="X">X</option>
      <option class="hero__option" value="Y">Y</option>
      <option class="hero__option" value="Z">Z</option>
      <option class="hero__option" value="1">1</option>
      <option class="hero__option" value="2">2</option>
      <option class="hero__option" value="3">3</option>
      <option class="hero__option" value="4">4</option>
      <option class="hero__option" value="5">5</option>
      <option class="hero__option" value="6">6</option>
      <option class="hero__option" value="7">7</option>
      <option class="hero__option" value="8">8</option>
      <option class="hero__option" value="9">9</option>
      <option class="hero__option" value="0">0</option>
    </datalist>
    </div>
  </div>
</section>
